body {
    background-image: url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.main-header{
    text-align: center;
    color: aliceblue;
    font-size: 3rem;
}

.main-container {
    width: 100%;
    margin-right: 2rem;
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.group{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 18rem;
    justify-content: space-around;
    align-items: center;
    background-color: #99447e69;
    border-radius: 1rem;

}
.title {
    text-align: center;
    color: aliceblue;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00ff238a;
    height: 3rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}
